@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
.qodef-m-text{
  font-family: 'Work Sans', sans-serif !important;
}
p{
  font-family: 'Work Sans', sans-serif !important;
}
h1{
  font-family: 'Work Sans', sans-serif !important;
}
h2{
  font-family: 'Work Sans', sans-serif !important;
}
h3{
  font-family: 'Work Sans', sans-serif !important;
}
a{
  font-family: 'Work Sans', sans-serif !important;
}
.mkdf-title-holder{
  height: 200px !important;
}
.mkdf-title-wrapper{
  height: 200px !important;
}
.hero-slider{
  min-height: 700px;
  width: 100%;
  position: relative;
}
.hero-slider-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00235a;
  opacity: 0.7;
}
.hero-slider-item{
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}
.hero-slider-item-content{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  z-index: 100;
}
.hero-slider-item-info{
  max-width: 680px;
  border-radius: 2px;
  padding: 40px 50px;
  margin: auto;
  text-align: center;
}
.hero-slider-item-info h3{
  line-height: 80px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 80px;
  color: #fff;
}
@media only screen and (max-width: 600px) {
  .hero-slider-item-info h3{
    line-height: 50px;
    letter-spacing: 0px;
    font-weight: 700;
    font-size: 50px;
    color: #fff;
  }
}
.hero-slider-item-info p{
  font-size: 22px;
  color: #fff;
}

.mkdf-logo-wrapper a{
    display: flex;
    align-items: center;
}

.mkdf-logo-wrapper a img{
    width: auto;
    height: 41px;
    padding: 10px;
}

.qi-block-blog-list .qodef-e-media-image {
  width: 100%;
}

.qi-block-blog-list .qodef-e-media-image img {
    height: 280px;
    object-fit: cover;
}
.qi-block-blog-list .qodef-e-title{
  min-height: 60px;
}
.mkdf-mobile-header .mkdf-position-left {
  max-width: 40%;
  margin-left: 10px;
}

.mkdf-mobile-header .mkdf-position-left a {
  height: unset !important;
}

.testimonial-wrapper{
  display: block;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 50px;
  padding-bottom: 50px;
  position: relative;
}
.testimonial-qoute{
  width: 50px;
  position: absolute;
  right: 40px;
  top: 35px;
}
.testimonial-qoute svg path{
  fill: rgba(29,125,129,1);
}
.testimonial-content-wrapper{
  padding: 50px 40px;
  display: flex;
}
.testimonial-item{
  border: 1px solid rgba(232,232,233,1);
  width: 100%;
  border-bottom: 4px solid rgba(29,125,129,1);
}
.testimonial-item-image{
  width: 20%;
  padding: 20px;
}
.testimonial-item-image img{
  border-radius: 4px;
}
.testimonial-item-content{
  width: 80%;
}
.testimonial-item-text{
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 6px;
}
.testimonial-item-name{
  color: rgba(0,22,89,1);
  font-family: 'Yantramanav';
  font-weight: 600;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 13px;
}

.text-banner{
  width: 100%;
  border: solid 1px rgba(232,232,233,1);
  border-bottom: 4px solid rgba(29,125,129,1);
}
.text-banner-content{
  padding: 10px 20px;
}
.text-banner-subtitle{
  margin-bottom: 0px;
  font-size: 15px;
  text-transform: uppercase;
}
.text-banner-title{
  margin-top: 5px;
  margin-bottom: 5px;
}
.text-banner-text{
  margin-top: 5px;
  font-size: 15px;
}
.text-banner-button{
  width: 45px;
  height: 45px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  transition: all 0.2 linear;
}
.text-banner-button:hover{
  background-color: rgba(29,125,129,1);
}

.text-banner-button:hover svg path{
  fill: #fff;
}

.remove-wrap .qodef-gutenberg-row {
  flex-wrap: nowrap;
}

footer .mkdf-footer-top-holder .widget a:hover {
  color: #1D7D81;
}

a[href$="#pll_switcher"] .item_text{
  display: flex !important;
  align-items: center;
  font-size: 14px !important;
}
.lang-item .item_text{
  display: flex !important;
  align-items: center;
  font-size: 14px !important;
}

.lang-item a:hover::before{
  display:none;
}

.swiper-pagination-bullet-active{
  background: rgba(29,125,129,1) !important;
 }

 @media only screen and (max-width: 764px) {
  h2{
    font-size: 45px;
  }
  .qodef-gutenberg-row {
    display: block !important;
  }
  .wp-block-qi-blocks-column{
    width: 95% !important;
    margin: 10px auto !important;
  }
}
