.hero-slider{
  min-height: 700px;
  width: 100%;
}
.hero-slider-item{
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}
.hero-slider-item-content{
  max-width: 1300px;
  width: 100%;
  margin: auto;
}
.hero-slider-item-info{
  max-width: 680px;
  background-color: #fff;
  border-radius: 2px;
  padding: 40px 50px;
}
.hero-slider-item-info h3{
  line-height: 80px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 80px;
}
.hero-slider-item-info p{
  font-size: 22px;
}

.mkdf-logo-wrapper a{
    display: flex;
    align-items: center;
}

.mkdf-logo-wrapper a img{
    width: auto;
    height: 41px;
    padding: 10px;
}

.qi-block-blog-list .qodef-e-media-image {
  width: 100%;
}

.qi-block-blog-list .qodef-e-media-image img {
    height: 280px;
    object-fit: cover;
}
