.hero-slider{
  min-height: 700px;
  width: 100%;
  position: relative;
}
.hero-slider-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00235a;
  opacity: 0.7;
}
.hero-slider-item{
  height:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: center;
}
.hero-slider-item-content{
  max-width: 1300px;
  width: 100%;
  margin: auto;
  z-index: 100;
}
.hero-slider-item-info{
  max-width: 680px;
  border-radius: 2px;
  padding: 40px 50px;
  margin: auto;
  text-align: center;
}
.hero-slider-item-info h3{
  line-height: 80px;
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 80px;
  color: #fff;
}
.hero-slider-item-info p{
  font-size: 22px;
  color: #fff;
}

.mkdf-logo-wrapper a{
    display: flex;
    align-items: center;
}

.mkdf-logo-wrapper a img{
    width: auto;
    height: 41px;
    padding: 10px;
}

.qi-block-blog-list .qodef-e-media-image {
  width: 100%;
}

.qi-block-blog-list .qodef-e-media-image img {
    height: 280px;
    object-fit: cover;
}

.testimonial-wrapper{
  display: block;
  max-width: 1300px;
  margin: auto;
  margin-bottom: 50px;
}
.testimonial-qoute{
  width: 50px;
  position: absolute;
  right: 40px;
  top: 35px;
}
.testimonial-qoute svg path{
  fill: rgba(29,125,129,1);
}
.testimonial-content-wrapper{
  padding: 50px 40px;
  display: flex;
}
.testimonial-item{
  border: 1px solid rgba(232,232,233,1);
  width: 100%;
  border-bottom: 4px solid rgba(29,125,129,1);
}
.testimonial-item-image{
  width: 20%;
  padding: 20px;
}
.testimonial-item-image img{
  border-radius: 4px;
}
.testimonial-item-content{
  width: 80%;
}
.testimonial-item-text{
  font-size: 18px;
  line-height: 27px;
  margin-bottom: 6px;
}
.testimonial-item-name{
  color: rgba(0,22,89,1);
  font-family: 'Yantramanav';
  font-weight: 600;
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 13px;
}
